extends layout

block content
  #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1= title
        img(src='/images/logo.jpg', alt='Travel Buddy Logo', style='width: 70px; height: auto\;')   
       
  .row
    .col-md-6.col-sm-12
      p
        | Travel Buddy is dedicated to helping travelers uncover hidden gems.
        | <br /><br />
        | Our mission is to guide adventurers to unique destinations and experiences off the beaten path, ensuring every journey is filled with discovery and wonder.
